<h1>STAR WARS BİLGİ SAYFASINA HOŞGELDİNİZ.</h1>

<form action="/sonuc" method="GET">
    <input type="text" name="sorgu" value="" placeholder="Aramak istediğiniz veriyi giriniz">
    <input type="submit">
</form>